<?php
return array (
  'backend' =>
  array (
    'frontName' => '{{ADMIN_FRONTNAME}}',
  ),
  'crypt' =>
  array (
    'key' => '{{ENCRYPTION_KEY}}',
  ),
  'session' =>
  array (
    'save' => 'files',
  ),
  'db' =>
  array (
    'table_prefix' => '',
    'connection' =>
    array (
      'default' =>
      array (
        'host' => '{{DATABASE_HOST}}:{{DATABASE_PORT}}',
        'dbname' => '{{DATABASE_NAME}}',
        'username' => '{{DATABASE_USER}}',
        'password' => '{{DATABASE_PASS}}',
        'active' => '1',
      ),
    ),
  ),
  'resource' =>
  array (
    'default_setup' =>
    array (
      'connection' => 'default',
    ),
  ),
  'x-frame-options' => 'SAMEORIGIN',
  'MAGE_MODE' => 'developer',
  'cache_types' =>
  array (
    'config' => 1,
    'layout' => 1,
    'block_html' => 1,
    'collections' => 1,
    'reflection' => 1,
    'db_ddl' => 1,
    'eav' => 1,
    'config_integration' => 1,
    'config_integration_api' => 1,
    'full_page' => 1,
    'translate' => 1,
    'config_webservice' => 1,
  ),
  {{INSTALL_DATE}}
);
